@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.flip-container {
  width: 100%;
  min-height: 100vh;
  perspective: 1500px;
}

.flip-card {
  position: relative;
  width: 100%;
  min-height: 100vh;
  transition: transform 0.8s ease-in-out;
  transform-style: flat;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}